- const path = webpackConfig.output.publicPath
- locals.heading = true

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Template Scripts v#{htmlWebpackPlugin.options.version}
    body
        p.text-lead Template Scripts are provided to standardize appearance of various University Libraries web applications.
        h2 Main Scripts
        ul
            li <a href="#{path}docs/template/">template.js</a> &mdash; Standardized header and footer for a webpage.
            li <a href="#{path}docs/common/">common.js</a> &mdash; Common styles for the content of a page.
        h2 Standalone Components
        ul
            li <a href="#{path}docs/addremove/">addremove.js</a> &mdash; Adds buttons to forms to add or remove multiple rows.
            li <a href="#{path}docs/facets/">facets.js</a> &mdash; Controls display of facets used to filter search results.
            li <a href="#{path}docs/flatpickr/">flatpickr.js</a> &mdash; Provides a popup box to select dates for forms.
            li <a href="#{path}docs/flickity/">flickity.js</a> &mdash; Creates a carousel from a set of images.
            li <a href="#{path}docs/libraryh3lp/">libraryh3lp.js</a> &mdash; Adds a popup notification box to webpages for LibraryH3lp chat.
            li <a href="#{path}docs/tablist/">tablist.js</a> &mdash; Displays sections of a page as tabs.
            li <a href="#{path}docs/tippy/">tippy.js</a> &mdash; Opens stylized tooltips for elements on hover.
            li <a href="#{path}docs/toggle/">toggle.js</a> &mdash; Manages display of a section of a site via a button.
        include includes/script.pug
