mixin desc(desc)
  if desc
    div(class=css['libcal-desc'])
      =new DOMParser().parseFromString(desc, 'text/html').body.textContent

mixin link(href, text, label)
  if href
    a(href=href aria-label=label)
      strong=text
  else
    strong=text

mixin times(times)
  case times.status
    when '24hours'
      em Open 24 Hours
    when 'ByApp'
      em By Appointment
    when 'closed'
      em Closed
    when 'text'
      !=times.text
    default
      if times.hours
        each hours in times.hours
          div=hours.from + " - " + hours.to
  if times.note
    div
      em=times.note

if config.mode === 'select'
  form
    label Select a Calendar
      select(name="location")
        if config.all
          option(value="") All Locations - Weekly
        each location in locations
          option(
            value=location.lid
            selected=(location.lid == params.get('location'))
          )
            =location.name + (config.all ? " - Monthly" : "")
    input(type="submit" value="View")
else
  div(class=css["libcal-title"])
    if config.title
      if config.link && !config.mode
        +link(config.link, config.title)
      else
        =config.title
    else if config.mode === 'week'
      ="This Week's Hours"
    else
      ="Today's Hours"
  div
    each location in locations
      if config.location
        if location.lid === parseInt(config.location, 10)
          if config.mode === 'week'
            each day, name in location.weeks.shift()
              div(class=css['libcal-day'])
                =name
              div(class=css['libcal-time'])
                +times(day.times)
          else
            div(class=css['libcal-time'])
              +times(location.times)
          if (!config.title || config.mode) && config.link
            +link(
              config.link,
              "More Hours",
              (config.title ? config.title + " - " : "") +
              "More " + location.name + " Hours"
            )
      else if config.all || location.category === 'library' || location.desc
        div
          if config.mode !== 'home' || location.category !== 'library'
            div
              +link(
                location.url,
                location.name,
                (config.title
                  ? config.title
                  : config.mode === 'week'
                    ? "This Week's Hours"
                    : "Today's Horus"
                ) + " - " + location.name
              )
          +desc(location.desc)
          if location.times.status !== 'not-set'
            div(class=css['libcal-time'])
              +times(location.times)
  if !config.location && (!config.title || config.mode) && config.link
    +link(config.link, "All Library Hours")
