mixin link(item)
    if item.href && item.href !== '#'
        a(href=item.href title=item.title)= item.text || item.href
    else if item.menu
        button(
            aria-label=item.title
            data-toggle=item.toggle
            class="toggle-control"
        )= item.text

        ul(id=item.toggle): each subitem in item.menu
            li: +link(subitem)
    else
        = item.text

mixin form(form)
    form(action=form.action method=form.method)
        div
            if form.hidden
                each value, name in form.hidden
                    input(
                        type="hidden"
                        name=name
                        value=value
                    )

            input(
                type="text"
                name=form.name || "search"
                value=form.value || ""
                aria-label=form.text || "Search Site"
                placeholder=form.text || "Search Site"
            )

            button(type="submit"): span(
                aria-label=form.button || "Search"
            )

        if form.menu
            ul: each item, index in form.menu
                li: +link(item)

header(class=css.header)
    if (config.main && config.main.id && config.main.top)
        a(href="#" + config.main.id id=config.main.top class=css.skip)
            = 'Skip to main content'

    div(class=css.top): div(class=css.container)
        a(href="https://www.bgsu.edu/" class=css.logo)
            img(src=require("../../svg/bgsu.svg") alt="BGSU" width=60 height=18)

        if config.unit && config.unit.text
            a(href=config.unit.href class=css.unit)
                if config.unit.thin
                    span(class=css.thin)= config.unit.thin + " "
                = config.unit.text

    if (config.site || config.menu || config.user || config.form)
        nav(class=css.nav aria-label="Site navigation")
            div(class=css.container)
                if config.site
                    if (config.site.heading)
                        h1(class=css.site): +link(config.site)
                    else
                        div(class=css.site): +link(config.site)

                if config.menu || config.form
                    button(
                        aria-label="Toggle site navigation"
                        data-toggle=css.menu
                        class=css.toggle + " toggle-control"
                    ) ☰

                    div(class=css.menu id=css.menu)
                        if config.menu
                            ul: each item, index in config.menu
                                - item.toggle = css.menu + "_" + index
                                li(class=item.class): +link(item)

                        if config.user
                            div(class=css.user)
                                if config.user.text
                                    div= config.user.text

                                if config.user.menu
                                    ul: each item, index in config.user.menu
                                        li: +link(item)

                        if config.form
                            +form(config.form)
